.auth-form {
    display: flex;
    gap: 2.5rem;
}

.name-input {
    font: inherit;
    border: none;
    border-bottom: 0.125rem solid var(--clr-accent);
    color: var(--clr-accent);
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: inherit;
}

.name-input:focus-visible {
    outline: 0.125rem solid var(--clr-accent);
    outline-offset: -0.125rem;
    border-bottom-color: transparent;
}
