:root {
    --clr-accent: hsl(240, 90%, 70%);
    --clr-bg: hsl(0, 0%, 100%);
    --clr-error: hsl(0, 100%, 50%);
    --clr-text: hsl(0, 0%, 0%);
    --header-shadow-clr: 0, 0%, 0%;
    --header-shadow-opacity: 0.2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-bg: black;
        --clr-text: white;
        --header-shadow-clr: 0, 0%, 100%;
        --header-shadow-opacity: 0.3;
    }
}

body {
    color: var(--clr-text);
    background-color: var(--clr-bg);
}

.App {
    min-height: 100vh;
    display: grid;
}

.btn {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: var(--clr-accent);
    color: hsl(0, 0%, 100%);
    padding: 0.25em 1em;
    border-radius: 0.75rem;
}

.btn-reverse {
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    border: none;
    background-color: transparent;
    outline: 0.125rem solid var(--clr-accent);
    color: var(--clr-accent);
    padding: 0.25em 1em;
    border-radius: 0.75rem;
}
